// primary
$primary-dark: #84283d;
$primary: #f04d73;
$primary-light: #f9cdc0;

// secondary
$secondary: #122e5c;

// neutrals
$grey-900: #5b595d;
$grey-800: #727271;
$grey-700: #7d7b80;
$grey-600: #788896;
$grey-500: #aba8ad;
$grey-400: #c7c4ca;
$grey-300: #e0e0e0;
$grey-200: #f4f4f4;
$default-black: #444444;
$white: #ffffff;