@import '../../styles/variables';

/* List Cards*/
.list-cards {
  max-width: 450px;
  margin: 0 auto;

  h2 {
    color: $white;
    margin-bottom: 20px;
  }

  .item {
    background: $white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    
    .text,
    .action {
      width: 50%;
    }

    h3 {
      color: $primary;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    p {
      font-size: 12px;
      color: #666;
    }
    .action {
      text-align: right;

      .rating-buttom {
        background: #f9cdc0;
        border: 0;
        border-radius: 5px;
        color: #ef4a68;
        padding: 10px 20px;
        font-weight: 800;
        text-decoration: none;
        display: inline-block;

        &.rated {
          background: #ddd;
          color: #666;
          cursor: default;
        }
      }
    }
  }
}

/* Card */
.cards-wrapper {
  margin: 20px;
  position: relative;

  .count-items {
    position: absolute;
    z-index: -1;
    top: -24px;
    left: 50%;
    margin-right: -40px;
    margin-left: -40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    background: #fff;
    border-radius: 10px 10px 0 0;
    width: 80px;
    font-size: 12px;
    padding: 6px 10px 4px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  }
}

.cards {
  background: $white;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  position: relative;

  img.estampa {
    border-radius: 10px;
    width: 100%;
  }

  .infos {
    padding: 5px 10px 10px 10px;

    h1 {
      font-size: 16px;
      font-weight: 400;
      color: #333;
      margin-top: 5px;
    }
    h2 {
      font-size: 12px;
      font-weight: 400;
      color: #999;
    }
  }

	.actions {
		text-align: center;

		button {
			width: 60px;
			height: 60px;
			padding: 10px;
			font-size: 22px;
			border: 1px solid #ddd;
			border-radius: 100%;
			margin: 10px 20px;
			cursor: pointer;
			transition: all .2s linear;
			background: #eee;

			&:hover {
				-webkit-box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
				-moz-box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
				box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
			}

			&.like {
				color: darkgreen;

				&:hover {
					background: darkgreen;
          border-color: darkgreen;
					color: $white;
				}
			}

			&.dislike {
				color: darkred;

				&:hover {
					background: darkred;
          border-color: darkred;
					color: $white;
				}
			}
		}
	}
}

@media (min-width: 768px) {
}