@import '../../styles/variables';

/* List Cards*/
.list-cards {
  max-width: 450px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    color: $white;
    margin-bottom: 20px;
  }

  .welcome {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    
    span {
      font-weight: 800;
    }
  }

  .item {
    background: $white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    
    .text,
    .action {
      width: 50%;
    }

    h3 {
      color: $primary;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    p {
      font-size: 12px;
      color: #666;
    }
    .action {
      text-align: right;

      .rating-buttom {
        background: #f9cdc0;
        border: 0;
        border-radius: 5px;
        color: #ef4a68;
        padding: 10px 20px;
        font-weight: 800;
        text-decoration: none;
        display: inline-block;

        &.rated {
          background: #ddd;
          color: #666;
          cursor: default;
        }
      }
    }
  }
}

/* Card */
.cards-wrapper {
  margin: 20px;
  position: relative;

  .empty-cards {
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -150px;
    z-index: -10;
    font-size: 90px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);

    span {
      font-size: 18px;
      font-weight: 400;
      display: block;
      margin-top: 20px;
    }
  }

  .count-items {
    position: absolute;
    z-index: -1;
    top: -24px;
    left: 50%;
    margin-right: -40px;
    margin-left: -40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    background: #fff;
    border-radius: 10px 10px 0 0;
    width: 80px;
    font-size: 12px;
    padding: 6px 10px 4px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  }

  .btn-back {
    a {
      color: #ef4a68;
      font-weight: 800;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      background: #f9cdc0;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
    }
  }
}

.swipe {
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

.cards {
  background: $white;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 50%;
  // margin-left: -150px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

  &.card_true {
    opacity: 0;
    visibility: hidden;
    z-index: -1 !important;
    top: 20%;
    transform: scale(0);
  }
  &.card_false {
    opacity: 1;
    visibility: visible;
    &:before {
      content: '\f164';
      font-family: 'Fontawesome';
      color: darkgreen;
      position: absolute;
      top: 50px;
      right: -32px;
      display: block;
      position: absolute;
      top: 40%;
      background: #fff;
      border-radius: 0 5px 5px 0;
      padding: 5px 10px;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    }
    &:after {
      content: '\f165';
      font-family: 'Fontawesome';
      color: darkred;
      display: block;
      position: absolute;
      top: 40%;
      left: -32px;
      background: #fff;
      border-radius: 5px 0 0 5px;
      padding: 5px 10px;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    }
  }

  &.voted {
    transform: scale(0);
    filter: blur(50px);
    animation: likeAnimate 1.1s ease-in-out;
  }

  &.card_false:first {
    z-index: 2;
  }

  img.estampa {
    border-radius: 10px;
    width: 100%;
    height: 290px;
  }

  .infos {
    padding: 5px 10px 10px 10px;

    h1 {
      font-size: 16px;
      font-weight: 400;
      color: #333;
      margin-top: 5px;
      height: 38px;
    }
    h2 {
      font-size: 12px;
      font-weight: 400;
      color: #999;
    }
  }

	.actions {
		text-align: center;
    display: none;

		button {
			width: 60px;
			height: 60px;
			padding: 10px;
			font-size: 22px;
			border: 1px solid #ddd;
			border-radius: 100%;
			margin: 10px 20px;
			cursor: pointer;
			transition: all .2s linear;
			background: #eee;

			&:hover,
      &:active {
				-webkit-box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
				-moz-box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
				box-shadow: 0px 0px 11px 0px rgba(186,186,186,1);
			}

			&.like {
				color: darkgreen;

				&:hover,
				&:active {
					background: darkgreen;
          border-color: darkgreen;
					color: $white;
				}
			}

			&.dislike {
				color: darkred;

				&:hover
				&:active {
					background: darkred;
          border-color: darkred;
					color: $white;
				}
			}
		}
	}
}
.cards-wrapper > div.cards:not(.card_true) {
  // z-index: 2;
  // background: yellow;
}
.cards-wrapper > div.cards:not(.card_true):last-child {
  // background: green;
}

@media screen and (max-width: 768px) {
  .cards {
    margin-top: 80px;
  }
}

@keyframes likeAnimate {
  from {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translateY(-80px);
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
@keyframes deslikeAnimate {
  from {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translateY(-80px);
    visibility: hidden;
    opacity: 0;
  }
}
