* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245,71,85);
  background: linear-gradient(180deg, rgba(245,71,85,1) 0%, rgba(183,56,83,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}